<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>
    <title>Flask-React Scrolling Header Condense</title>
    <style>
        body {
            margin: 0;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='fonts/stylesheet.css') }}">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>
<body>
    <div id="root" />
    <script src="dist/bundle.js" type="text/javascript"></script>
</body>
</html>
<!---->